h1{
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-family: 'Satisfy', cursive;
  color: #CD53AC;
}
.text-center{
  background-image: url(../images/cosmos.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: black; */
}
.card-header{
  color: crimson;
}
.card{
  background-image: url(../images/dices.jpeg);
 background-size: cover
}
.pig{
  width: 100vw;
  height:100vh;
  background-color: white;
}