h1{
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-family: 'Satisfy', cursive;
  color: #CD53AC;
}
.text-center{
  background-image: url(../images/cosmos.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: black; */
  height: 100vh;
}

.card{
  background-image: url(../images/dices.jpeg);
 background-size: cover;
}
.pig{
  width: 100vw;
  height:100vh;
  background-color: white;
}
p{
  color: aqua;
}
h3{
  font-family: 'Press Start 2P', cursive;
}
#para{
  display: none;
}
.click{
  font-family: 'Press Start 2P', cursive;
}
.card-header{
  font-family: 'Fredericka the Great', cursive;
  color: cornsilk
}
.card .one{
  margin-top: 80px;
}
#btn,#btn1,#btn2,#btn3{
  background-color: darkred;
}